@import "../../index.css";

.section {
  background-image: url("../../assets/dotbg.png");
  background-position: left top;
  border-bottom: 0.5px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ui-text);
  padding: var(--spacing-xxl) 0;
}

.sectionContent {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.articleCard {
  background-color: var(--ui-white);
  border-radius: 10px;
  border: 0.3px solid #d9d9d9;
  margin: var(--spacing-lg) auto;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md)
    var(--spacing-md);
  width: 100%;
  max-width: 300px;
  position: relative;
}

.articleCard h3 {
  font-weight: 700;
  margin: var(--spacing-sm) 0;
}

.iconContainer {
  background-color: var(--ui-white);
  border-radius: 100vh;
  border: 0.3px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80px;
  width: 80px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.iconContainer svg {
  height: 40px;
  width: 40px;
  color: var(--secondary-colour);
}

.cardContainer {
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
}

@media screen and (max-width: 800px) {
  .cardContainer {
    flex-direction: column;
  }
}
